* {
  margin: 0;
  padding: 0;
}

.latar {
  width: 100%;
  background-image: url('bg.jpg');
}

.container {
  width: 800px;
  margin: 10px auto;
  background-color: white;
}

.title {
  margin: 10px;
  padding:
}

.nav {
  display: flex;
}

.nav li {
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px; 
  margin-right: 5px;
  margin-bottom: 15px;
  width: 75px;
}

.nav li a {
  text-decoration: none;
  font-weight: bold;
  color: salmon;
  font-size: 18px;
  transition: 0.8s;
  text-align: center;
}

.nav li a:hover {
  display: inline-block;
  background-color: salmon;
  color: white;
  border-radius: 5px;
  width: 75px;
  
}