h1, h2, h3, h4, h5 {
  font-size: 30px;
  font-weight: bolder;
}

ul a {
  color: salmon;
}

ol a {
  color: lightgreen;
}

#p1 {
  background-color: lightpink;
}

#p2 {
  background-color: lightyellow;
}

.p3 {
  background-color: lightblue;
}

.p4 {
  background-color: lightgreen;
}

.p5 {
  background-color: lightgrey;
}

.tebal {
  font-weight: bold;
}

.miring {
  font-style: italic;
}